@import '../../base_styles';

.productDescription {
  &__title {

    @extend %H3MobileText;
    

    padding-bottom: 16px;
    margin-bottom: 32px;

    border-bottom: 1px solid #E2E6E9;

    color: $primaryColor;

    @include onTablet {
      font-size: 22px;
      line-height: 25px;
    }
  }
}
