@import '../../base_styles';

.productPage {
  padding: 25px 0 80px;

  &__title {
    margin-bottom: 40px;
  }

  &__section {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: 80px;
    }

    // The below styles are temporary and should be deleted in future
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 26px;
    border: 3px solid #8d8d8d;
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
  }
}
