@import '../../base_styles/utils/_mixins.scss';

.catalog {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 16px;
  row-gap: 40px;
  margin-bottom: 24px;

  @include onTablet {
    margin-bottom: 40px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include onLaptop {
    grid-template-columns: repeat(3, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    // min-width: 230px;
    // max-width: 288px;
    width: 288px;
    height: 440px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

    @include onTablet {
      padding: 32px;
      height: 506px;
    }
  
    @include onLaptop {
      width: 230px;
    }
  
    @include onDesktop {
      width: 272px;
    }
  }
}
