@import '../../base_styles/utils/extends';
@import '../../base_styles/utils/variables';

.activeBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 40px;
  max-height: 100%;
  padding: 14px 10px;

  @extend %ButtonsText;

  color: $greenColor;
  background-color: $whiteColor;

  border: 1px solid $elementsColor;

  transition: box-shadow $transitionSettings;

  cursor: pointer;

  &:hover {
    box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
  }

  &:active {
    color: $whiteColor;
    background-color: $primaryColor;

    border: none;
  }
}
