@import '../../base_styles/';

.swiper {
  @include onTablet {
    max-width: 1200px;
    padding: 0 75px;
  }

  @include onLaptop {
    padding: 0 80px;
  }

  &__image {
    height: 320px;
    object-fit: cover;

    @include onTablet {
      content: url('../../mock_data/img/category-phones.png');
      height: 190px;
    }

    @include onLaptop {
      height: 400px;
    }
  }
}
