@import '../../../base_styles/utils/extends';
@import '../../../base_styles/utils/variables';

.headerNavLink {
  @extend %UppercaseText;

  display: block;
  padding: 25px 0;

  color: $secondaryColor;
  text-transform: uppercase;

  transition: color $transitionsSettings;
  &:hover {
    color: $primaryColor;
  }
  &.active {
    border-bottom: 3px solid black;

    color: $primaryColor;
  }
}
