@import '../../base_styles/utils/mixins';
@import '../../base_styles/utils/variables';
@import '../../base_styles/utils/extends';

.cartPage {
  margin: 0 16px;
  padding: 25px 0 56px;

  &_backBtn {
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 16px;
    }
  }

  &_title {
    margin-bottom: 32px;
  }

  &__card_container {
    @include onLaptop {
      margin-bottom: 80px;
    }
  }

  @include onTablet() {
    padding: 41px 0 64px;
  }

  @include onDesktop() {
    padding: 41px 0 80px;
  }
}
