$transitionSetup: 0.3s linear;
$mobileContentTopPadding: 29px;
$tabletContentTopPadding: 34px;
$desktopContentTopPadding: 36px;
$linksTextColor: red;
$primaryTextColor: green;

$cardWidthMobile: 280px;
$cardWidthTablet: 392px;
$cardWidthDesktop: 324px;
