@import '../../base_styles/index.scss';

.burger {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;

  background-color: $whiteColor;

  display: flex;
  flex-direction: column;

  transform: translateX(100%);
  min-height: 100vh;

  transition: transform $transitionSettings;

  &_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 32px;

    height: 50px;

    border-bottom: 1px solid $elementsColor;
  }

  &_logo {
    margin-left: 16px;
    width: 64px;
  }

  &_footer {
    display: flex;
    flex-direction: row;
    align-items: center;

    border-top: 1px solid $elementsColor;
  }

  &.visible {
    transform: translateX(0);
  }

  @include onTablet {
    display: none;
  }

  &__counter {
    user-select: none;
    position: absolute;
    background: $redColor;
    width: 1.1rem;
    height: 1.1rem;

    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    top: 0.8rem;
    right: 4.8rem;

    border-radius: 50%;
    border: 2px solid $whiteColor;

    font-family: 'Mont-Regular';

    font-size: 0.6rem;

    color: $whiteColor;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  gap: 32px;
}

.link {
  display: inline-block;
  text-decoration: none;

  text-transform: uppercase;
  font-family: 'Mont-SemiBold';
  color: $secondaryColor;
  border-bottom: 2px solid transparent;

  &_cross {
    height: 50px;
    width: 50px;

    text-align: center;

    border-left: 1px solid $elementsColor;
  }

  &_footer {
    position: relative;
    display: inline-block;

    width: 50%;
    height: 64px;

    text-align: center;

    border-right: 1px solid $elementsColor;
    border-bottom: 2px solid transparent;

    transition: all 0.3s ease-in-out;

    &:hover {
      border-bottom: 2px solid $primaryColor;
    }
  }

  transition: all 0.3s ease-in-out;

  &:hover {
    color: $primaryColor;
    border-bottom: 2px solid $primaryColor;
  }
}

.icon {
  position: relative;
  top: calc(50% - 10px);
}
