@import '../../base_styles/';

.slider {
  margin-bottom: -16px;

  &__photo {
    display: block;
    margin: auto;
    max-width: 100%;
    height: 274px;

    object-fit: contain;
    @include onLaptop {
      height: 442px;
    }
  }
}
