@import '../../base_styles/';

.slider {
    &__photo {
        width: max-content;
        height: 274px;

        @include onTablet {
          height: 340px;
        }

        @include onDesktop {
          height: 430px;
        }
    }
}