@import '../../base_styles';

.tabletsPage {
  padding: 24px 0 64px;

  &__title {
    margin-bottom: 8px;
  }

  &__quantity {
    @extend %BodyTextTitle;

    margin-bottom: 40px;
    color: $secondaryColor;
  }

  &__soldout_message {
    @extend %H2Text;
    color: $secondaryColor;
  }
}
