@import './base_styles/index.scss';

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  &_content {
    flex-grow: 1;
  }

  &__body--with-menu {
    overflow: hidden;
  }
}

.page {
  &__title {
    @extend %H1MobileText;

    @include onTablet {
      font-size: 48px;
      line-height: 56px;
    }

    color: $primaryColor;
  }
}

.container {
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}
