@import '../../base_styles/utils/variables';

.iconBtn {
  height: 32px;
  width: 32px;

  background-color: $whiteColor;
  border: 1px solid $iconsColor;

  cursor: pointer;

  transition: border-color $transitionSettings;

  &:hover {
    border-color: $primaryColor;
  }

  &:disabled {
    border-color: $elementsColor;

    .iconBtn_icon {
      fill: $iconsColor;
    }
  }

  &_icon {
    display: block;
    margin: 0 auto;
    width: 16px;
    height: 16px;

    transition: transform $transitionSettings;
  }

  &:active &_icon {
    transform: scale(0.8);
  }
}
