@import '../../base_styles/';

.homePage {
  padding: 24px 0 64px;

  @include onTablet {
    padding: 32px 0 64px;
  }

  @include onLaptop {
    padding: 56px 0 80px;
  }

  &__title {
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 32px;
    }

    @include onLaptop {
      margin-bottom: 56px;
    }
  }

  &__mainSlider {
    width: auto;
    max-width: 1200px;
    margin: 0 auto 66px;

    @include onTablet {
      margin: 0 auto 74px;
    }

    @include onLaptop {
      margin-bottom: 90px;
    }
  }

  &__section:not(:last-child) {
    margin-bottom: 57px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onTablet {
      margin-bottom: 80px;
    }
  }
}
