@import '../../base_styles/';

.title {
  @extend %H1MobileText;

  padding: 24px 16px;

  @include onTablet {
    font-size: 48px;
    line-height: 56px;
    padding: 32px 24px;
  }

  @include onLaptop {
    padding: 56px 32px;
  }

  color: $primaryColor;
}
