@import '../../base_styles/utils/variables';

.productSpechsItem {
  display: flex;
  justify-content: space-between;
  gap: 15px;

  &:not(:last-child) {
		margin-bottom: 8px;
	}

	&__value {
		color: $primaryColor;
	}
}
